.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  flex-direction: column;
}
.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  width: 500px;
  text-align: center;
}

h3 {
  color: #ff9966;
  font-size: 20px;
  margin-bottom: 10px;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}

input:focus {
  border-color: #ff9966;
  outline: none;
}

button {
  width: 20%;
  background: #ff9966;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:active {
  background: #e6875c;
}

div:last-child {
  font-size: 14px;
  color: #666;
}
